<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Customer Reviews</title>
	<style>
		.toast  {
			width: 80%;
			height: 60%;
			}
	</style>
  </head>
  <body>
					<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
					  <div class="toast-header">
						
						<strong class="me-auto"> {{ previous_review.review_content }}</strong>
						<small>{{ request.user.username }}</small>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					  </div>
					  <div class="toast-body">
						
						<form class="form-horizontal" method="post">{% csrf_token %}
							{{form.as_p}}
							<div class="form-actions">
								{% if user.is_authenticated %}
									<center><button type="submit" class="btn btn-primary my-3" >Post</button></center>
								{% else %}
									<a class="nav-link " href="/customer/login" tabindex="-1" aria-disabled="false">Log in</a>
								{% endif %}
							</div>							
						</form>
						
						
					  </div>
					</div>
					
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	
	<script>
		var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function(toastEl) {
				// Creates an array of toasts (it only initializes them)
				  return new bootstrap.Toast(toastEl) // No need for options; use the default options
				});
			   toastList.forEach(toast => toast.show()); // This show them

	</script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>