{% extends "mainapp/base.html" %}

{% block title %}
Your Queries
{% endblock %}

{% block body %}

<div class="container mx-5">
	<div class="row">
		<div class="alert alert-warning" role="alert">
			<p>We will really appreciate your honest reviews and will focus on the things we are not upto.</p> 
			<p>thank you so much for landing on this page and give us your precious time.</p>
		</div>
	</div>
	<div class="row">
		<form class="form-horizontal" method="post">{% csrf_token %}
			<fieldset>
				<legend>{{ title }}</legend>
				{% for field in form %}
					{% if field.errors %}
						<div class="control-group error">
							<label class="control-label">{{ field.label }}</label> 
							<div class="controls">{{ field }}
								{% if field.help_text %}
									<p class="help-inline"><small>{{ field.help_text }}</small></p>
								{% endif %}
								<span class="">
									<div class="alert alert-danger" role="alert">
										  {% for error in  field.errors %}{{ error }}{% endfor %}
										</div>
								</span>
							</div>
						</div>
					{% else %}
						<div class="control-group">
							<label class="control-label">{{ field.label }}</label> 
							<div class="controls">{{ field }}
								{% if field.help_text %}
									<p class="help-inline"><small>{{ field.help_text }}</small></p>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" >Submit</button>
			</div>
		</form>
	</div>
</div>

  
{% endblock %}
